.navbar {
    margin: 0 5%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.navbar input {
    flex: 1;
    height: 38px;
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 5px;
}

.navbar button {
    height: 38px;
    padding: 0 15px;
    cursor: pointer;
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 5px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

