<!-- Custom Carousel -->
<div class="custom-carousel" *ngIf="getProducts.length">

  <div class="carousel-container">
    <div class="carousel-slide" *ngFor="let item of getProducts">

      <img [src]="item.ProductUrl" [alt]="item.ProductName" />

      <div class="carousel-caption">
        <h3>{{ item.ProductName }}</h3>
        <p>{{ item.ProductDescriptions }}</p>
      </div>

    </div>
  </div>

</div>

<!-- Product List -->
<div class="product-list" *ngIf="getProducts.length">

  <div class="product-item" *ngFor="let item of getProducts">

    <img
      [src]="item.ProductUrl"
      [alt]="item.ProductName"
    />

    <h3>{{ item.ProductName }}</h3>

    <p>{{ item.ProductDescriptions }}</p>

    <strong>₹{{ item.ProductPrice }}</strong>

  </div>

</div>

<div class="trending-section" *ngIf="trendingProducts.length">

  <h2> Trending Products</h2>

  <div class="trending-list">

    <div class="trending-item" *ngFor="let item of trendingProducts">

      <img [src]="item.ProductUrl" />

      <h4>{{ item.ProductName }}</h4>

      <p>₹{{ item.ProductPrice }}</p>

    </div>

  </div>

</div>