<ngb-carousel *ngIf="getProducts?.length">

  <ng-template ngbSlide *ngFor="let item of getProducts">

    <img [src]="item.ProductUrl" style="width:100%; height:300px; object-fit:cover;" />

    <div class="carousel-caption">
      <h3>{{ item.ProductName }}</h3>
      <p>{{ item.ProductDescriptions }}</p>
    </div>

  </ng-template>

</ngb-carousel>

<div class="product-list" *ngIf="getProducts.length">
  <div class="product-item" *ngFor="let item of getProducts">
    <img [src]="item.ProductUrl" [alt]="item.ProductName" style="width:100%; max-width:250px; height:250px; object-fit:cover;" />
    <h3>{{ item.ProductName }}</h3>
    <p>{{ item.ProductDescriptions }}</p>
    <strong>₹{{ item.ProductPrice }}</strong>
  </div>
</div>
