<div class="search-container">

  <h2>Search Results</h2>

  <!-- No results -->
  <!-- <div *ngIf="searchProductList?.length === 0"> -->
    <!-- No products found -->
  <!-- </div> -->

  <!-- Product list -->
  <div class="product-list">

    <div class="product-card" *ngFor="let item of searchProductList">

      <img [src]="item.ProductUrl" alt="product image" width="150" />

      
  <div (click)="openProduct(item.id)">
    <h3>{{ item.ProductName }}</h3>
  </div>

      <p><b>Category:</b> {{ item.ProductCategory }}</p>

      <p><b>Color:</b> {{ item.ProductColor }}</p>

      <p>{{ item.ProductDescriptions }}</p>

      <p><b>Price:</b> ₹{{ item.ProductPrice }}</p>

    </div>

  </div>

</div>